@charset "UTF-8";

*{
    color: white;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

main{
    display: inline-block;
    text-align: right;
    width: 100%;
    height: 100vh;
}

#smartphone{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#tela{
    position: absolute;
    text-align: center;
    width: 268px;
    height: 472px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    width: 80px;
    border-radius: 40px;
    margin: 10px;

    transform: translate(-20px, 0px);
}
.logo:hover{
    position:relative;
    top:-5px;
    left:-5px;    
    box-shadow: 0px 0px 10px white;
    transition: 1s;
}

#redes {
    width: 100vw;
    border-radius: 5px;
}