@charset "UTF-8";

*, html, body, main {
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

.imgtela{
    width: 100vw;
}

#button{
    padding-top: 15px;
    width: 100vw;
    height: 50px;
    color: white;
    background-color: rgb(133, 0, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button:hover{
    background-color: red;
}


a{  
    margin-top: 0px;
    text-decoration: none;
}